h1{
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	border-bottom: 2%;
	border-color: #333333;
	border-style: inset;
	padding: 2%;
	border-radius: 8px;
	width: 50%;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;

}	

#main{
	width: 1% 1%;
	height: 40%;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	/*text-shadow: 3px 2px 3px #333333;*/
	background-color: #CEF6F5;
	 border-radius: 8px;
	list-style-type: none;
	margin: -1%;
	background-color: #6E6E6E;
	
}

.horizCont {
	width: 100%;
	height: 25px;
	border-top: 8px;
}

.status {
  background-color: white;
	display: inline-block;
	width: 5%;
}
	
.description {
	display: inline-block;
	background-color: white;
	width: 70%;
}
#numItem{
	width: 30%;
	height: 10%;
	display: inline-block;
	text-align: center;
	background-color: red;
	border-radius: 8px;
}

#compItem{
	width: 30%;
	height: 10%;
	display: inline-block;
	text-align: center;
	background-color: red;
	border-radius: 8px;
}




#main ul{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
}

#main li{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style-type: none;
	
}

.footer li{
	padding: 0;
	margin: 0;
	text-decoration-line: none;
	list-style-type: none;
}

.footer{
	list-style-type: none;
	text-align: center;
	
}

form {
	border-top: 20px;
	border-color: black;
  font-size: 80px;
  width  : 100%;
  height : auto;
  margin : auto;
}
body{
	background-color: #6E6E6E;
}
